<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="scripts.GetTheProjectDetails"/>
      <class name="scripts.CreateaRepro"/>
      <class name="scripts.UpdateTherepro"/>
      <class name="scripts.DeleteTherepro"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
